<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
  <h4 class="mb-3 mb-md-0 title-page">Dashboard</h4>
  <div class="d-flex align-items-center flex-wrap text-nowrap">
    <nav class="page-breadcrumb m-0">
      <ol class="breadcrumb m-0">
        <li class="breadcrumb-item active">Service Delivery</li>
        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
      </ol>
    </nav>
  </div>
</div>

<div class="row status-report">
  <div><h2 class="header mb-2">Current Ticket Count</h2></div>
  <div class="col-12 col-xl-12 stretch-card status-wrap">
    <div class="row flex-grow-1">
      <div class="col-12 grid-margin stretch-card status-block">
        <div class="card bg-Orange arrow-right">
          <div class="card-body">
            <div>
              <h3 class="mb-2">{{ current_ticket_count?.incoming_assigned }}</h3>
              <h6 class="card-title mb-0 subheader">Incoming</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 grid-margin stretch-card status-block">
        <div class="card bg-Darkorange arrow-right">
          <div class="card-body">
            <div>
              <h3 class="mb-2">{{ current_ticket_count?.action_in_progress }}</h3>
              <h6 class="card-title mb-0 subheader">Action In Progress</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 grid-margin stretch-card status-block">
        <div class="card bg-Tyrian arrow-right">
          <div class="card-body">
            <div>
              <h3 class="mb-2">{{ current_ticket_count?.pending_client_feedback }}</h3>
              <h6 class="card-title mb-0 heade subheader">Pending Client Feedback</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 grid-margin stretch-card status-block">
        <div class="card bg-Darkblue arrow-right">
          <div class="card-body bg-Darkpink">
            <div>
              <h3 class="mb-2">{{ current_ticket_count?.completed }}</h3>
              <h6 class="card-title mb-0 subheader">Completed</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 grid-margin stretch-card status-block">
        <div class="card bg-DarkSun">
          <div class="card-body">
            <div>
              <h3 class="mb-2">{{ current_ticket_count?.on_hold }}</h3>
              <h6 class="card-title mb-0 subheader">On Hold</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row status-report">
  <div><h2 class="header mb-2">Weekly Ticket Count</h2></div>
  <div class="col-12 col-xl-12 stretch-card status-wrap">
    <div class="row flex-grow-1">
      <div class="col-12 grid-margin stretch-card status-block">
        <div class="card bg-Orange arrow-right">
          <div class="card-body">
            <div>
              <h3 class="mb-2">{{ weekly_ticket_count?.incoming_assigned }}</h3>
              <h6 class="card-title mb-0 subheader">Incoming</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 grid-margin stretch-card status-block">
        <div class="card bg-Darkorange arrow-right">
          <div class="card-body">
            <div>
              <h3 class="mb-2">{{ weekly_ticket_count?.action_in_progress }}</h3>
              <h6 class="card-title mb-0 subheader">Action In Progress</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 grid-margin stretch-card status-block">
        <div class="card bg-Tyrian arrow-right">
          <div class="card-body">
            <div>
              <h3 class="mb-2">{{ weekly_ticket_count?.pending_client_feedback }}</h3>
              <h6 class="card-title mb-0 heade subheader">Pending Client Feedback</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 grid-margin stretch-card status-block">
        <div class="card bg-Darkblue arrow-right">
          <div class="card-body bg-Darkpink">
            <div>
              <h3 class="mb-2">{{ weekly_ticket_count?.completed }}</h3>
              <h6 class="card-title mb-0 subheader">Completed</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 grid-margin stretch-card status-block">
        <div class="card bg-DarkSun">
          <div class="card-body">
            <div>
              <h3 class="mb-2">{{ weekly_ticket_count?.on_hold }}</h3>
              <h6 class="card-title mb-0 subheader">On Hold</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row status-report">
  <div><h2 class="header mb-2">Monthly Ticket Count</h2></div>
  <div class="col-12 col-xl-12 stretch-card status-wrap">
    <div class="row flex-grow-1">
      <div class="col-12 grid-margin stretch-card status-block">
        <div class="card bg-Orange arrow-right">
          <div class="card-body">
            <div>
              <h3 class="mb-2">{{ monthly_ticket_count?.incoming_assigned }}</h3>
              <h6 class="card-title mb-0 subheader">Incoming</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 grid-margin stretch-card status-block">
        <div class="card bg-Darkorange arrow-right">
          <div class="card-body">
            <div>
              <h3 class="mb-2">{{ monthly_ticket_count?.action_in_progress }}</h3>
              <h6 class="card-title mb-0 subheader">Action In Progress</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 grid-margin stretch-card status-block">
        <div class="card bg-Tyrian arrow-right">
          <div class="card-body">
            <div>
              <h3 class="mb-2">{{ monthly_ticket_count?.pending_client_feedback }}</h3>
              <h6 class="card-title mb-0 heade subheader">Pending Client Feedback</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 grid-margin stretch-card status-block">
        <div class="card bg-Darkblue arrow-right">
          <div class="card-body bg-Darkpink">
            <div>
              <h3 class="mb-2">{{ monthly_ticket_count?.completed }}</h3>
              <h6 class="card-title mb-0 subheader">Completed</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 grid-margin stretch-card status-block">
        <div class="card bg-DarkSun">
          <div class="card-body">
            <div>
              <h3 class="mb-2">{{ monthly_ticket_count?.on_hold }}</h3>
              <h6 class="card-title mb-0 subheader">On Hold</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row status-report">
  <div><h2 class="header mb-2">Average Time for First Response</h2></div>
  <div class="col-12 col-xl-12 stretch-card status-wrap">
    <div class="row flex-grow-1">
      <div class="col-12 grid-margin stretch-card status-block">
        <div class="card bg-Orange arrow-right">
          <div class="card-body">
            <div>
              <h3 class="mb-2">{{ monthly_ticket_count?.incoming_assigned }}</h3>
              <h6 class="card-title mb-0 subheader">Weekly</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 grid-margin stretch-card status-block">
        <div class="card bg-Darkorange arrow-right">
          <div class="card-body">
            <div>
              <h3 class="mb-2">{{ monthly_ticket_count?.action_in_progress }}</h3>
              <h6 class="card-title mb-0 subheader">Monthly</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 grid-margin stretch-card status-block">
        <div class="card bg-Tyrian">
          <div class="card-body">
            <div>
              <h3 class="mb-2">{{ monthly_ticket_count?.pending_client_feedback }}</h3>
              <h6 class="card-title mb-0 heade subheader">Yearly</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" id="dashboard-table-section">
  <div class="col-12 col-xl-12 stretch-card grid-margin">
    <div class="card">
      <div class="card-body">
        <div class="card-header d-flex justify-content-between p-0">
          <h6 class="card-title">SERVICE DELIVERY PIPELINE</h6>
          <div ngbDropdown class="mb-2">
            <button ngbDropdownToggle class="btn p-0 no-dropdown-toggle-icon" type="button" id="dropdownMenuButton7">
              <i class="icon-lg text-muted pb-3px" data-feather="more-horizontal" appFeatherIcon></i>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownMenuButton7">
              <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="eye" appFeatherIcon class="icon-sm me-2"></i> <span class="">View</span></a>
              <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="edit-2" appFeatherIcon class="icon-sm me-2"></i> <span class="">Edit</span></a>
              <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="trash" appFeatherIcon class="icon-sm me-2"></i> <span class="">Delete</span></a>
              <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="printer" appFeatherIcon class="icon-sm me-2"></i> <span class="">Print</span></a>
              <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="download" appFeatherIcon class="icon-sm me-2"></i> <span class="">Download</span></a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <ngx-datatable
          class="bootstrap"
          [rows]="rows"
          [loadingIndicator]="loadingIndicator"
          [columnMode]="ColumnMode.force"
          [footerHeight]="50"
          [limit]="10"
          rowHeight="auto"
          >

          <ngx-datatable-column 
          *ngFor="let col of headers" 
          [name]="col.id" 
          [sortable]="true" 
          [prop]="col.id === 'creationDate' ? 'creationDate' : col.id"
          [canAutoResize]="true" 
          [draggable]="true" 
          [resizeable]="true">
            <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
              <ng-container *ngIf="col.id !== 'assignees'; else assigneesBlock">
                <span>{{ col.id === 'creationDate' ? row.formattedCreationDate : value }}</span>
              </ng-container>
              <ng-template #assigneesBlock>
                <div *ngFor="let assignee of row.assignees">
                  <img [src]="assignee.image" style="height: 30px; width: 30px; border-radius: 50%;" />
                  <span>{{ assignee.displayName }}</span>
                </div>
              </ng-template>
            </ng-template>
            <ng-template ngx-datatable-header-template let-sort="sortFn">
              <span>{{ col.label }}</span>
            </ng-template>
        </ngx-datatable-column>        

          <!-- Add a new column for the arrow -->
          <ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false" [draggable]="false" [canAutoResize]="false">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
              <!-- toggle the expand/collapse arrow -->
              <a
                href="javascript:void(0)"
                [class.datatable-icon-down]="!expanded"
                [class.datatable-icon-up]="expanded"
                title="Expand/Collapse Row"
                (click)="toggleExpandRow(row)"
              ></a>
            </ng-template>
          </ngx-datatable-column>

          <!-- Define row detail template -->
          <ngx-datatable-row-detail #rowDetailTemplate [rowHeight]="100">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
              <table class="detail-table">
                <thead>
                  <tr>
                    <th *ngFor="let detailHeader of detailHeaders">
                      {{ detailHeader.label }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td *ngFor="let detailHeader of detailHeaders">
                      <!-- Check if the current column is 'freshness' -->
                      <ng-container *ngIf="detailHeader.id === 'freshness'; else notFreshness">
                        <!-- Display Wi-Fi signal-like bars for 'freshness' -->
                        <div class="wifi-signal">
                          <div class="bar" [ngClass]="{'active': row[detailHeader.id] > 0}"></div>
                          <div class="bar" [ngClass]="{'active': row[detailHeader.id] > 0.2}"></div>
                          <div class="bar" [ngClass]="{'active': row[detailHeader.id] > 0.4}"></div>
                          <div class="bar" [ngClass]="{'active': row[detailHeader.id] > 0.6}"></div>
                          <div class="bar" [ngClass]="{'active': row[detailHeader.id] > 0.8}"></div>
                        </div>
                      </ng-container>
                      <!-- For other columns, display the value as is -->
                      <ng-template #notFreshness>
                        <span *ngIf="row[detailHeader.id] === null || row[detailHeader.id] === undefined; else showValue">N/A</span>
                        <ng-template #showValue>{{ row[detailHeader.id] }}</ng-template>
                      </ng-template>                      
                    </td>
                  </tr>
                </tbody>
              </table>
            </ng-template>
          </ngx-datatable-row-detail>          

          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>
