<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
  <div>
    <h4 class="mb-3 mb-md-0 title-page">Dashboard</h4>
  </div>
  <div class="d-flex align-items-center flex-wrap text-nowrap">
    
  </div>
</div>

<div class="row status-report">
  <div class="col-12 col-xl-12 stretch-card status-wrap">
    <div class="row flex-grow-1">
      <div class="col-12 grid-margin stretch-card status-block">
        <div class="card bg-Orange arrow-right">
          <div class="card-body">
            <div>
              <h3 class="mb-2">21</h3>
              <h6 class="card-title mb-0 subheader">Incoming</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 grid-margin stretch-card status-block">
        <div class="card bg-Darkorange arrow-right">
          <div class="card-body">
            <div>
              <h3 class="mb-2">31</h3>
              <h6 class="card-title mb-0 subheader">Action In Progres</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 grid-margin stretch-card status-block">
        <div class="card bg-Tyrian arrow-right">
          <div class="card-body">
            <div>
              <h3 class="mb-2">25</h3>
              <h6 class="card-title mb-0 heade subheader">Pending Client Feedback</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 grid-margin stretch-card status-block">
        <div class="card bg-Darkblue arrow-right">
          <div class="card-body bg-Darkpink">
            <div>
              <h3 class="mb-2">309</h3>
              <h6 class="card-title mb-0 subheader">Completed</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 grid-margin stretch-card status-block">
        <div class="card bg-DarkSun">
          <div class="card-body">
            <div>
              <h3 class="mb-2">5</h3>
              <h6 class="card-title mb-0 subheader">On Hold</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- row -->

<div class="row">
  <div class="col-12 col-xl-12 stretch-card grid-margin">
    <div class="card">
      <div class="card-body">
        <div class="card-header d-flex justify-content-between">
          <h6 class="card-title">SERVICE DELIVERY PIPELINE</h6>
          <div ngbDropdown class="mb-2">
            <button ngbDropdownToggle class="btn p-0 no-dropdown-toggle-icon" type="button" id="dropdownMenuButton7">
              <i class="icon-lg text-muted pb-3px" data-feather="more-horizontal" appFeatherIcon></i>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownMenuButton7">
              <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="eye" appFeatherIcon class="icon-sm me-2"></i> <span class="">View</span></a>
              <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="edit-2" appFeatherIcon class="icon-sm me-2"></i> <span class="">Edit</span></a>
              <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="trash" appFeatherIcon class="icon-sm me-2"></i> <span class="">Delete</span></a>
              <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="printer" appFeatherIcon class="icon-sm me-2"></i> <span class="">Print</span></a>
              <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="download" appFeatherIcon class="icon-sm me-2"></i> <span class="">Download</span></a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-striped">
              <thead>
              <tr>
                <th class="width-name">Ticket Name</th>
                <th class="width-status">Stage</th>
                <th class="width-name">Assigned</th>
                <th class="width-status">Data in stage</th>
                <th class="width-name">Created By</th>
                <th class="width-status">Expected Complete</th>
                <th class="width-status">Date Created</th>
                <th class="width-dropdown">View Tickets</th>
              </tr>
              </thead>
              <tbody>
              <ng-container *ngFor="let user of users; let i = index">
                  <tr>
                      <td>{{user.ticketname}}</td>
                      <td class="ticket-count">{{user.stage}}</td>
                      <td class="ticket-count">{{user.assigned}}</td>
                      <td class="ticket-count">{{user.dayinstage}}</td> 
                      <td class="ticket-count">{{user.createby}}</td>
                      <td class="ticket-count">{{user.expectedcomplete}}</td>
                      <td class="ticket-count">{{user.datecreate}}</td>
                      <td class="ticket-count">
                          <button class="btn arrow-button" (click)="toggleDetail(i)">
                              <i class="fas" [class]="showDetailIndex === i ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
                          </button>                        
                      </td>                        
                  </tr>
                  <tr *ngIf="showDetailIndex === i">
                      <td colspan="9">
                          <table class="table table-striped">
                              <p>List of Tickets</p>
                          </table>
                      </td>
                  </tr>
              </ng-container>                
              </tbody>
          </table>
          </div>

      </div>
    </div>
  </div>
</div> <!-- row -->

