$Tyrian: #5f0f40;
$DarkSun: #9a021f;
$Orange: #fb8c23;
$Darkorange: #e26413;
$Darkblue: #104c5c;


.status-report {
    .status-block {
        position: relative;
    }
    .card {
        border: 0;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        .card-body {
            h6.card-title {
             font-size: 0.8em;
             font-weight: 600;
            }
         }
         
    }
    .arrow-right::before {
        content: "";
        width: 30px;
        position: absolute;
        top: 0;
        right: -29px;
        bottom: 0;
        clip-path: polygon(-4% -6%, -4% 105%, 100% 50%);
        z-index: 1;
    }
    .bg-Orange.arrow-right::before {
        background-color: $Orange;
    }
    .bg-Darkorange.arrow-right::before {
        background-color: $Darkorange;
    }
    .bg-Tyrian.arrow-right::before {
        background-color: $Tyrian;
    }
    .bg-Darkblue.arrow-right::before {
        background-color: $Darkblue;
    }
    .status-wrap {
        .stretch-card {
            padding: 0;
        }
        .row {
            margin: 0;
        }
    }
    .bg-Tyrian {
        background: linear-gradient(90deg, rgb(0 0 0) -127%, $Tyrian 34%, $Tyrian 100%);
        color: #fff;
        padding-left: 10%;
    }

    .bg-DarkSun {
        background: linear-gradient(90deg, rgb(0 0 0) -127%, $DarkSun 34%, $DarkSun 100%);
        color: #fff;
        padding-left: 10%;
    }

    .bg-Orange {
        background-color: $Orange;
        color: #fff;
        padding-left: 5%;
    }

    .bg-Darkorange {
        background: linear-gradient(90deg, rgb(0 0 0) -127%, $Darkorange 34%, $Darkorange 100%);
        color: #fff;
        padding-left: 10%;
    }

    .bg-Darkblue{
        background-color: $Darkblue;
        background: linear-gradient(90deg, rgb(0 0 0) -127%, $Darkblue 34%, $Darkblue 100%);
        color: #fff;
        padding-left: 10%;
    }

}

.arrow-button {
    padding: 0;
    border: none;
    background: none;
}

.detail-table {
    width: 100%;
    border-collapse: collapse;
  
    thead {
      background-color: transparent;
    }
  
    th, td {
      padding: 10px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }
  
    tbody tr:nth-child(even) {
      background-color: #f2f2f2;
    }
}

#dashboard-table-section{
    ::ng-deep .datatable-body {
        .datatable-row-even {
            background-color: #fff;
            max-width: 100%;
            width: auto !important; 
        }
        .datatable-body-row {
            max-width: 100%;
            width: auto !important; 
            .datatable-row-group {
                max-width: 100%;
                width: auto !important; 
            }
        }
        .datatable-row-detail {
            height: auto !important;
            background-color: #fff;
            border: 20px solid #e9ecef;
        }
    }
    ::ng-deep  .datatable-header {
        .datatable-header-inner { 
                background-color: #e9ecef;
                font-weight: 600;
        }
    }
    
    ::ng-deep .datatable-scroll {
        width: auto !important;
        max-width: 100%;
    }
    
    ::ng-deep  .datatable-row-wrapper[ng-reflect-expanded="true"] {

        background-color: #e9ecef;
        border-top: 2px solid;
        
        .datatable-row-even[ng-reflect-expanded="true"] {
            background-color: #e9ecef;
        }
    }
}

.wifi-signal {
    display: flex;
    align-items: flex-end;
    height: 20px; /* adjust as needed */
  }
  
.bar {
    width: 5px; /* adjust as needed */
    height: 10%;
    background: #ccc;
    margin-right: 3px; /* adjust as needed */
}
  
.bar:nth-child(2) {
    height: 30%;
}
  
.bar:nth-child(3) {
    height: 50%;
}
  
.bar:nth-child(4) {
    height: 70%;
}
  
.bar:nth-child(5) {
    height: 90%;
}
  
.bar.active {
    background: #05a34a; /* adjust the color as needed */
}

#ticket-table-title {
    margin: 0;
}

#ticket-table-header {
    margin-bottom: 20px;
    border-bottom: 0;
    background-color: #fff;
}

@media only screen and (min-width: 768px) {
    .status-report {
        .status-block {
            width: 20%;
        }
    }
  }