<nav class="navbar">
  <div class="navbar-content">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="" class="navbar-brand">
          <img src="assets/images/logo.webp" alt="logo">
        </a>
      </li>
      <li class="nav-item nav-apps" ngbDropdown>
        <a class="nav-link" ngbDropdownToggle id="appsDropdown">
          <i class="link-icon feather icon-settings"></i>
        </a>
        <div ngbDropdownMenu class="px-0" aria-labelledby="appsDropdown">
          <div class="px-3 py-2 d-flex align-items-center justify-content-between border-bottom">
            <p class="mb-0 fw-bold">Settings</p>
          </div>
          <div class="row g-0 p-1">
            <div class="col-4 text-center">
              <a routerLink="/apps/chat" class="dropdown-item d-flex flex-column align-items-center justify-content-center wd-70 ht-70"><i class="feather icon-mail icon-lg mb-1"></i><p class="tx-12">Gmail</p></a>
            </div>
            <div class="col-4 text-center">
              <a routerLink="/apps/calendar" class="dropdown-item d-flex flex-column align-items-center justify-content-center wd-70 ht-70"><i class="feather icon-user icon-lg mb-1"></i><p class="tx-12">Profile</p></a>
            </div>
            <div class="col-4 text-center">
              <a routerLink="/general/profile" class="dropdown-item d-flex flex-column align-items-center justify-content-center wd-70 ht-70"><i class="feather icon-log-out icon-lg mb-1"></i><p class="tx-12">Logout</p></a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>