<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
    <h4 class="mb-3 mb-md-0 title-page">Team Members</h4>
    <div class="d-flex align-items-center flex-wrap text-nowrap">
        <nav class="page-breadcrumb m-0">
        <ol class="breadcrumb m-0">
            <li class="breadcrumb-item active">Tickets</li>
            <li class="breadcrumb-item active" aria-current="page">Team Members</li>
        </ol>
        </nav>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
        <div class="card-body">
    
            <div class="table-responsive">
            <table class="table table-main-theme table-bordered">
                <thead>
                <tr>
                    <th class="width-name">Name</th>
                    <th class="width-status bg-Orange">Incoming</th>
                    <th class="width-status bg-Darkorange">Action in Progress</th>
                    <th class="width-status bg-Tyrian">Pending Client Feedback</th>
                    <th class="width-status bg-Darkblue">Completed</th>
                    <th class="width-status bg-DarkSun">On Hold</th>
                    <th class="width-status">Average Resolution Time</th>
                    <th class="width-status">Average Time for First Response</th>
                    <th class="width-dropdown">View Tickets</th>
                </tr>
                </thead>
                <tbody>
                <ng-container *ngFor="let user of users; let i = index">
                    <tr>
                        <td class="coach-profile"><img [src]="user.image" alt="image">{{user.fullName}}</td>
                        <td class="ticket-count">{{user.stages['INCOMING (ASSIGNED)'] ?? 0}}</td>
                        <td class="ticket-count">{{user.stages['Action In Progress'] ?? 0}}</td>
                        <td class="ticket-count">{{user.stages['Pending Client Feedback'] ?? 0}}</td>
                        <td class="ticket-count">{{user.stages['Completed'] ?? 0}}</td>
                        <td class="ticket-count">{{user.stages['On Hold'] ?? 0}}</td>
                        <td class="ticket-count">5</td>
                        <td [ngClass]="getResponseTimeColor(user.averageResponseTime)">
                            {{ user.averageResponseTime | number:'1.2-2' }}
                        </td>                                               
                        <td class="ticket-count">
                            <button class="btn arrow-button" (click)="toggleDetail(i)">
                                <i class="fas" [class]="showDetailIndex === i ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
                            </button>                        
                        </td>                        
                    </tr>
                    <tr *ngIf="showDetailIndex === i">
                        <td class="ticket-table-user" colspan="9">
                            <table class="table inner-table">
                                <tr *ngIf="showDetailIndex === i">
                                    <td colspan="9" class="p-0">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Ticket Name</th>
                                                    <th>Stage</th>
                                                    <th>Days in Stage</th>
                                                    <th>Date Created</th>
                                                    <th>First Email Sent</th>
                                                    <th>Last Email Sent</th>
                                                    <th>First Email Response Time</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let ticket of user.tickets">
                                                    <td [title]="ticket.name">{{ticket.name | slice:0:40 }} ...</td>
                                                    <td>{{ticket.stageName}}</td>
                                                    <td>{{ticket.daysInStage}}</td>
                                                    <td>{{ticket.creationTimestamp !== null && ticket.creationTimestamp !== undefined ? (ticket.creationTimestamp | date:'MMMM d, y, h:mm a') : 'N/A'}}</td>
                                                    <td>{{ticket.firstEmailSentTimestamp !== null && ticket.firstEmailSentTimestamp !== undefined ? (ticket.firstEmailSentTimestamp | date:'MMMM d, y, h:mm a') : 'N/A'}}</td>
                                                    <td>{{ticket.lastEmailUpdatedTimestamp !== null && ticket.lastEmailUpdatedTimestamp !== undefined ? (ticket.lastEmailUpdatedTimestamp | date:'MMMM d, y, h:mm a') : 'N/A'}}</td>                
                                                    <td [ngClass]="ticket.firstEmailResponseTime !== undefined ? getResponseTimeColor(ticket.firstEmailResponseTime) : ''">{{ ticket.firstEmailResponseTime }}</td>                                                    
                                                  </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </ng-container>
                </tbody>
            </table>
            </div>
        </div>
        </div> 
    </div>
</div>
    