$Tyrian: #5f0f40;
$DarkSun: #9a021f;
$Orange: #fb8c23;
$Darkorange: #e26413;
$Darkblue: #104c5c;

.width-image {
    width: 3%;
}

.width-name {
    width: 15%;
}

.width-status {
    width: 14%;
    text-align: center;
}

.width-dropdown {
    width: 3%;
}

.arrow-button {
    padding: 0;
    border: none;
    background: none;
}

.ticket-count {
    text-align: center;
}

.table-main-theme {
    th {
        background-color: #02447d;
        color: #fff;
    }
    .coach-profile img {
        margin-right: 10px;
    }
    tbody {
        td:first-child {
            border-left-width: 0;
        }
        td:last-child {
            border-right-width: 0;
        }
        tr {
            td {
                vertical-align:middle;
                padding: 10px 10px;
            }
            .ticket-table-user {
                padding: 0;
            }
        }
    }
    .bg-Tyrian {
        background-color: $Tyrian;
        color: #fff;
    }
    
    .bg-DarkSun {
        background-color: $DarkSun;
        color: #fff;
    
    }
    
    .bg-Orange {
        background-color: $Orange;
        color: #fff;
    }
    
    .bg-Darkorange {
        background-color: $Darkorange;
        color: #fff;
    }
    
    .bg-Darkblue{
        background-color: $Darkblue;
        color: #fff;
    }
    .inner-table {
        margin-bottom: 20px;
        border: 1px solid #444;
        box-shadow: 0px 4px 19px 0 rgb(183 192 206 / 71%);
        -webkit-box-shadow: 0px 4px 19px 0 rgb(183 192 206 / 71%);
        -moz-box-shadow: 0px 4px 19px 0 rgb(183 192 206 / 71%);
        -ms-box-shadow: 0px 4px 19px 0 rgb(183 192 206 / 71%);
    }
}

.green {
    background-color: rgb(100, 204, 100);
}
  
.yellow {
    background-color: rgb(235, 235, 122);
}
  
.red {
    background-color: rgb(219, 80, 80);
}

.orange {
    background-color: orange;
}

#color-legend {
    margin-bottom: 20px;
}

.legend {
    display: flex;
    margin-top: 10px;
}

#rectangle1 {
    width: 60px;
    height: auto;
    background: rgb(100, 204, 100);
    margin-right: 5px;
}

#rectangle2 {
    width: 60px;
    height: auto;
    background: rgb(235, 235, 122);
    margin-right: 5px;
}

#rectangle3 {
    width: 60px;
    height: auto;
    background: orange;
    margin-right: 5px;
}

#rectangle4 {
    width: 60px;
    height: auto;
    background: rgb(219, 80, 80);
    margin-right: 5px;
}

.legend-title {
    margin-right: 30px;
}