.width-image {
    width: 3%;
}

.width-name {
    width: 15%;
}

.width-status {
    width: 14%;
    text-align: center;
}

.width-dropdown {
    width: 3%;
}

.arrow-button {
    padding: 0;
    border: none;
    background: none;
}

.ticket-count {
    text-align: center;
}

.ticket-table-user {
    padding: 0;
}